[Desktop Entry]
Name=Sublime
Comment=Sublime text editor
Exec=sublime_text %U
Icon=sublime_text
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
GenericName=Text Editor

